node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
attached_assets/Pasted--Discover-more-extensions-and-themes-on-the-Chrome-Web-Store-Errors-Error-in-import-object-Obje-1742571398225.txt
attached_assets/Pasted--Discover-more-extensions-and-themes-on-the-Chrome-Web-Store-Errors-Error-in-import-object-Obje-1742571398225.txt
attached_assets/Pasted--url-https-chatgpt-com-cookies-domain-chatgpt-com-h-1742573839060.txt
attached_assets/Pasted--url-https-chatgpt-com-cookies-domain-chatgpt-com-h-1742574039486.txt
attached_assets/Pasted-Error-in-import-object-Object-Import-error-object-Object-Import-error-object-Object-Erro-1742571805811.txt
